{% extends "base.html" %}
{% block content %}
<h2>Your Cart</h2>
{% if cart_items %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Fruit</th>
        <th>Quantity</th>
        <th>Price (FCFA)</th>
        <th>Total (FCFA)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.fruit.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.fruit.price }}</td>
        <td>{{ item.quantity * item.fruit.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h4>Grand Total: ${{ total }}</h4>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}
{% endblock %}
