{% extends "base.html" %}
{% block content %}
<h1>Available Fruits</h1>
<div class="row">
  {% for fruit in fruits %}
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ fruit.name }}</h5>
        <p class="card-text">{{ fruit.description }}</p>
        <p><strong>Price:</strong> FCFA{{ fruit.price }}</p>
        <form method="POST" action="{{ url_for('main.add_to_cart', fruit_id=fruit.id) }}">
          <div class="input-group mb-2">
            <input type="number" name="quantity" value="1" min="1" class="form-control">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
    <p>No fruits available at the moment.</p>
  {% endfor %}
</div>
{% endblock %}
